.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  position:relative;
}
.card1{
  position: absolute; 
  right: 0px;
  top: 0;
}

.card2{
  position: absolute; 
  right: 0px;
  top: 0;
}
/* :nth-child(1) */